

.content-title{
  font-size: 30px;
  height: 70px;
  border-top: .84375em solid transparent;
  text-align: center;
}
.content-choice-poll{
  max-width: 320px;
  margin: 0 auto;
  margin-top: 20px;
}
.poll-submit{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.after-poll{
  padding-bottom: 100px;
  font-size: 20px;
  text-align: center;
}
.after-poll div{
  display: block;
  margin-top: 20px;
  text-align: center;
}
.after-poll a{
  font-size: 20px;
  color:#008B8B;
  font-weight: 500;
  text-decoration: none;
}
